header {
    background-color: #1e3f8b;
    color: #fff;
    padding: 10px 0;
    font-family: "Calibri";
    text-align: center;
}

footer {
    font-family: "Calibri";
    background-color: #1e3f8b;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    position: relative;
    width: 100%;
}