.section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question-template{
    box-sizing: border-box;
    border:1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:40px;
    
}


.option-in {
    display:flex;
    flex-direction:column;
    gap:15px;
}

#submit{
    padding:15px;
    font-size: 16px;
    font-weight: 700;
    align-self: center;
}

.center-div {
    display: flex;
    flex-direction: column;
}

.submit-div{
    align-self: center;
    padding: 20px;
}

