.section{
    display:flex;
    flex-direction: column;
    gap:10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
}

.heading {
    font-family: Calibri;
    font-size: 40px;
    font-weight: 700;
}

#question {
    font-family: Calibri;
    font-size: 24px;
}

#options{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option{
    font-family: Calibri;
    font-size: 20px;
    font-weight: 500;
}

#navigation {
    padding-top: 100px;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    gap:30px
}

span {
    font-family: "Calibri";
    font-size: 19px;
}

#buttons {
    display: flex;
    gap: 20px
}

#prev, #next {
    padding:0.5rem;
}