.body{
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section1{
  display: flex;
  flex-direction: column;
  gap:20px
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Calibri;
} 

.search-code{
  padding-left:22%;
}

.search-box{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search{
  padding: 5px;
  border-radius: 5px;
  
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    flex-wrap: wrap;

}

p{
  color:black;
}

.room {
    font-family: Calibri;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    min-width: 400px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    float: left;
    margin: 10px;
    text-align: center;
    
  }

  .quiz-name{
    font-size: 24px;
    font-weight: 700;
  }


  .card:hover {
    background-color: #ddd;
  }
  
  .room .code {
    
    font-size: 16px;
    font-weight: 500;
  }

  .domain-label{
    background-color:#D3D3D3;
    width:fit-content;
    height: fit-content;
    position: relative;
    padding-left:15px;
    padding-right:15px;
    align-self: center;
    border-radius: 13px;
  }



